<div>
    <div class="d-flex justify-content-between mb-2">
        <h2>Sub categoria</h2>
        <button class="btn btn-success" routerLink="../adicionar">Novo</button>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Categoria</th>
                <th scope="col">Editar</th>
                <th scope="col">Excluir</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="dados.length <= 0" class="table-warning text-center">
                 <td colspan="5">Nenhum registro encontrado!</td>
            </tr>
            <tr *ngFor="let subCategoria of dados;">
                <th scope="row">{{subCategoria.id}}</th>
                <td>{{subCategoria.descricao}}</td>
                <td>{{subCategoria.categoria}}</td>
                <td>
                    <button type="button" class="btn btn-warning" title="Editar" (click)="editar(subCategoria.indice)">
                        <i class="bx bxs-pencil"></i>
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-danger" title="Excluir" (click)="exluir(subCategoria.indice, subCategoria.descricao)">
                        <i class="bx bxs-trash"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>