<div class="card">
    <button class="btn btn-success" routerLink="../adicionar">Novo</button>
    <div class="card-body">
      <h5 class="card-title">Table with stripped rows</h5>

      <!-- Table with stripped rows -->
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#ID</th>
            <th scope="col">Categoria</th>
            <th scope="col">Ação</th>
            <th scope="col">Ação</th>
          </tr>
        </thead>
        <tbody>
          
          <tr *ngFor="let categoria of dados">
            <th scope="row"> 01 </th>
            <td>{{categoria.descricao}}</td>
            <td>
                <button class="btn btn-warning"><i class="bi bi-pencil"></i></button>
            </td>
            <td>
                <button class="btn btn-danger"><i class="bi bi-trash"></i></button>
            </td>
          </tr>

        </tbody>
      </table>
      <!-- End Table with stripped rows -->

    </div>
  </div>
